/* General Styles */
html {
    scroll-behavior: smooth;
    font-family: 'Afacad Flux', sans-serif;
    background-color: #FCFAEE;
    color: #333333;
}

body {
    margin: 0;
    padding: 0;
    background-color: #FCFAEE;
    height: 100%;
}

h4 {
    font-weight: 700;
    font-size: 1.2rem;
    color: #333333;
}

h5 {
    font-weight: 700;
    font-size: 1.2rem;
    color: #333333;
}

/* Hero Styles */
.hero {
    margin-top: 10px;
    margin-bottom: 10px;
    height: 30vh;
    background-color: #fffefc;
    border-radius: 8px;
}

.hero h2 {
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center !important;
    font-family: 'Afacad Flux', sans-serif;
    color: #333333;
    font-weight: 700;
    font-size: 3rem;
}


/* Sidebar Styles */
#sidebar {
    max-width: 300px;
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden !important;
    background-color: #fffefc;
    padding: 15px;
    border-radius: 8px;
}

.sidebar-sticky {
    position: sticky;
    top: 0;
}

/* Recipe Card Styles */
.recipe-card {
    margin-bottom: 15px;
}

/* Calendar Styles */
.calendar {
    display: flex;
    flex-wrap: wrap;
    border: 2px solid #da84595b;
    border-radius: 5px;
    background-color: #FCFAEE;
}

.day {
    border: 1px solid #da84595b;
    border-radius: 0;
    padding: 10px;
    background-color: #fffefc;
    flex: 1 0 calc(100% / 7);
    box-sizing: border-box;
    min-height: 500px;
}

/* Button Styles */

.btn.btn-block.mb-2 {
    background-color: #ad4601;
}

.btn.btn-block {
    background-color: #DA8359;
}



.btn {
    font-weight: 700;
    font-size: 1rem;
    color: white;
    border: none;
    background-color: aqua;
}

.btn:hover {
    font-weight: 700;
    font-size: 1rem;
    color: white;
}

.btn-calendar {
    background-color: #DA8359;
}

.btn-share {
    background-color: #ad4601;
}

.btn-calendar:hover,
.btn.btn-block:hover {
    background-color: #bd724d;
}

.btn-share:hover,
.btn.btn-block.mb-2:hover {
    background-color: #963d01;
}


#prevWeek,
#nextWeek {
    background-color: #DA8359;
    color: white;
    border: none;
    padding: 10px 15px;
    font-size: 1.2rem;
    transition: background-color 0.3s ease;
}

#prevWeek:hover,
#nextWeek:hover {
    background-color: #C27650 !important;
    color: white;
}

.navigation.mb-3 {
    text-align: center;
}

/* Meal Box Styles */
.meal-box {
    border: 1px solid #ccc;
    padding: 5px;
    margin: 5px 0;
    border-radius: 5px;
    background-color: #f8f9fa;
    text-align: center;
}

/* Button Styles */
.btn-share,
.btn-calendar {
    font-size: 1rem;
}
