/* Footer Styles */
footer {
    background-color: #95a480; 
    color: #FCFAEE;
    text-align: center;
    font-family: 'Afacad Flux', sans-serif;
    font-weight: 700;
    font-size: 1rem;
}

footer p {
    margin: 0;
    color: #FCFAEE; 
}

footer a {
    text-decoration: underline; 
    color: #FCFAEE; 
}

footer a:hover {
    color: #DA8359; 
}
