/* General Styles */
body {
    background-color: #FCFAEE;
}

h1 {
    text-align: center;
    font-family: 'Afacad Flux', sans-serif;
    color: #333333;
    font-weight: 700;
    font-size: 3rem;
}

h2 {
    font-family: 'Afacad Flux', sans-serif;
    color: #333333;
    font-weight: 700;
    font-size: 2rem;
}

.form-group.col-md-6 {
    font-weight: 400;  
    font-size: 1.2rem; 
    font-family: 'Afacad Flux', sans-serif;
    color: #666666;   
}

p {
    font-weight: 400;  
    font-size: 1.2rem; 
    font-family: 'Afacad Flux', sans-serif;
    color: #666666;   
}

.card-title {
    font-weight: 700;  
    font-size: 1.2rem; 
    font-family: 'Afacad Flux', sans-serif;
    color: #333333;   
}

.lead {
    font-weight: 400;  
    font-size: 1.2rem; 
    font-family: 'Afacad Flux', sans-serif;
    color: #666666;   
    text-align: center;
    margin-bottom: 50px;
}

.form-control {
    font-weight: 400;  
    font-size: 1.2rem; 
    font-family: 'Afacad Flux', sans-serif;
    color: #666666;    
}

.input-group.mb-3.mx-auto {
    width: 600px;
}

/* Button Styles */

.btn-custom {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    transition: box-shadow 0.3s ease; 
}

.btn-custom:hover {
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3); 
}

#search-button,
#filter-button,
#nextButton,
#prevButton {
    background-color: #DA8359;
    border: none;
    color: #FCFAEE;
    font-weight: 700;  
    font-size: 1rem; 
    font-family: 'Afacad Flux', sans-serif;
}

.addToMyRecipeButton {
    background-color: #D35400 !important;
    border: none;
    color: #FCFAEE;
}

.addToMyRecipeButton:hover {
    background-color: #963d01 !important;
    border: none;
    color: #FCFAEE;
}

/* Card Styles */
.card.mx-2 {
    border: none; 
    border-radius: 8px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1); 
    transition: transform 0.2s ease, box-shadow 0.2s ease; 
}

.card a {
    text-decoration: none; 
    color: inherit; 
}

.card a:hover {
    text-decoration: underline; 
}

.card.mx-2:hover {
    transform: translateY(-5px); 
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.2); 
}

/* Wrapper Styles */
.wrapper {
    border: none;
    border-radius: 10px; 
    padding: 20px; 
    background-color: #ffffff;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2); 
    margin-bottom: 20px; 
    transition: transform 0.2s, box-shadow 0.2s; 
}



/* Button Focus Styles */
.btn.btn-primary.mt-3.mb-2.btn:focus {
    outline: none; 
    box-shadow: none; 
}

.btn {
    font-weight: 700;
}